<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Convo uploads the audio of your YouTube video into MixCloud or SoundCloud">
    <meta name="author" content="Roberto Dip">

    <title>Convo | Online YouTube to MixCloud/SoundCloud converter</title>
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/2e9bb4b31e/UntitledProject1/style.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="wrapper-l">
      <header class="main-header-l">
        <h1 class="brand">
          <a href="/">
            Convo
          </a>
        </h1>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <div class="main-content-l">
        <header>
          <h2 class="heading-two"><i class="icon-youtube"></i> to audio stream converter</h2>
        </header>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </div>
  </body>
</html>
