// -------------------------------------------
//   Typography
//   >
// -------------------------------------------

.heading-two {
  font-size: 50px;
  font-weight: lighter;
  color: $blue;
}

.subtitle {
  color: $gray;
}
