// -------------------------------------------
//   Main Content Layout
// -------------------------------------------

.main-content-l {
  position: relative;
  text-align: center;
  z-index: 99;

  top: 15%;

  @include breakpoint(small) {
    top: auto;
  }

  .title-box {
    .subtitle {
      margin: 25px 0;
    }
  }

  form {
    margin-bottom: 35px;
  }

  .button {
    margin: 10px auto;
  }
}
