// -------------------------------------------
//   Grapper layout
// -------------------------------------------

.wrapper-l {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;

  @include breakpoint(small) {
    padding: 0 30px;
  }
}